.card {
  display: flex;
  padding: 16px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Добавьте эту строку */
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
  box-sizing: border-box; /* Добавьте эту строку */
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
}

.avatar {
  background-color: #3E8DC6;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.requestsCount {
  background-color: #FFA000;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 8px;
  position: absolute;
  top: -12px;
  right: -8px;
  z-index: 1;
  box-shadow: 0 0 0 2px white;
}

.userInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

}

.fio {
  font-size: 14px;
  color: #333333;
  margin-bottom: 4px;
}

.fullName {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
}

.position {
  font-size: 16px;
  color: #757575;
}